<h2>@Globalized.About</h2>

<p>Batcheese is an open source, modern, web application to monitor and manage KnowledgeLake <i class="fa fa-registered"></i> Capture Server 4 <i class="fa fa-copyright"></i>.</p>
