<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="PipeBind" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="TcpBind" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="HttpBind" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://scdev2:8050/BatchService" binding="wsHttpBinding" bindingConfiguration="HttpBind" contract="BatchService.IBatchService" name="HttpBind">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://scdev2/BatchService" binding="netNamedPipeBinding" bindingConfiguration="PipeBind" contract="BatchService.IBatchService" name="PipeBind">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://scdev2/BatchService" binding="netTcpBinding" bindingConfiguration="TcpBind" contract="BatchService.IBatchService" name="TcpBind">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="http://scdev2:8050/AgentService" binding="wsHttpBinding" bindingConfiguration="HttpBind" contract="AgentService.IAgentService" name="HttpBind1">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://scdev2/AgentService" binding="netNamedPipeBinding" bindingConfiguration="PipeBind" contract="AgentService.IAgentService" name="PipeBind1">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://scdev2/AgentService" binding="netTcpBinding" bindingConfiguration="TcpBind" contract="AgentService.IAgentService" name="TcpBind1">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="http://scdev2:8050/InformationService" binding="wsHttpBinding" bindingConfiguration="HttpBind2" contract="InformationService.IInformationService" name="HttpBind2">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://scdev2/InformationService" binding="netNamedPipeBinding" bindingConfiguration="PipeBind2" contract="InformationService.IInformationService" name="PipeBind2">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://scdev2/InformationService" binding="netTcpBinding" bindingConfiguration="TcpBind2" contract="InformationService.IInformationService" name="TcpBind2">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="http://scdev2:8050/ImportService" binding="wsHttpBinding" bindingConfiguration="HttpBind3" contract="ImportService.IImportService" name="HttpBind3">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://scdev2/ImportService" binding="netNamedPipeBinding" bindingConfiguration="PipeBind3" contract="ImportService.IImportService" name="PipeBind3">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://scdev2/ImportService" binding="netTcpBinding" bindingConfiguration="TcpBind3" contract="ImportService.IImportService" name="TcpBind3">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="http://scdev2:8050/CommunicationCachingService" binding="wsHttpBinding" bindingConfiguration="HttpBind4" contract="CommunicationCachingService.ICommunicationCachingService" name="HttpBind4">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://scdev2/CommunicationCachingService" binding="netNamedPipeBinding" bindingConfiguration="PipeBind4" contract="CommunicationCachingService.ICommunicationCachingService" name="PipeBind4">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://scdev2/CommunicationCachingService" binding="netTcpBinding" bindingConfiguration="TcpBind4" contract="CommunicationCachingService.ICommunicationCachingService" name="TcpBind4">
        <identity>
          <servicePrincipalName value="host/scdev2.RecordLion.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ConfigData" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=BatCheese.Data.ConfigData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>